.credit-a {
    padding: 8vw 4vw 0 4vw;
    &__logo {
        max-width: em(60px);
        margin-bottom: em(20px);
    }
    &__image {
        display: none;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    &__diagram-a--desktop {
        display: none;
        margin-top: em(20px);
    }
    &__diagram-a--mobile {
        margin-top: em(50px);
    }
    &__diagram-b {
        margin-top: em(50px);
    }
}


@media screen and (min-width: 771px) {

    .credit-a {
        padding: $section-padding__desktop;
        &__logo {
            width: 5%;
            margin: 0 7.5%;
            float: left;
        }
        &__body {
            width: 50%;
            float: left;
            margin-top: em(48px);
        }
        &__image {
            width: 20%;
            display: block;
            float: right;
            margin-top: em(48px);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__diagram-a--desktop {
            float: left;
            width: 50%;
            margin-left: 20%;
            img {
                width: 100%;
            }
        }
        &__diagram-b {
            margin-top: em(50px);
            display: block;
        }
    }

    @supports (display: grid) {

        .credit-a {
            @include grid-layout(em(100px) auto auto auto auto auto em(50px));
            &__logo {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                width: auto;
                margin: 0;
            }
            &__body {
                width: auto;
                grid-column: 4 / 8;
                grid-row: 2 / 3;
                width: auto;
                margin: 0;
            }
            &__image {
                width: auto;
                grid-column: 10 / 13;
                grid-row: 1 / 5;
                width: auto;
                margin: 0;
            }
            &__diagram-a--desktop {
                width: auto;
                margin: 0;
            }
            &__diagram-a--mobile {
                grid-column: 4 / 8;
                grid-row: 3 / 4;
                width: auto;
                margin: 0;
            }
            &__diagram-b {
                grid-column: 4 / 10;
                grid-row: 4 / 5;
                width: auto;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .credit-a {
        &__diagram-a--mobile {
            display: none;
        }
        &__diagram-a--desktop {
            display: block;
            padding-right: 3vw;
        }
    }

    @supports (display: grid) {

        .credit-a {
            @include grid-layout(em(100px) auto auto auto auto auto em(50px));
            &__diagram-a--desktop {
                grid-column: 4 / 10;
                grid-row: 3 / 4;
            }
        }
    }
}