.hp-news {
    padding: $section-padding__mobile;
    &__logo {
        margin-bottom: em(20px);
        max-width: em(60px);
    }
    &__button {
        margin-top: 5vh;
    }
    &__image {
        display: none;
    }
}


@media screen and (min-width: 771px) {

    .hp-news {
       padding: $section-padding__desktop;
        &__logo {
            margin: 0 7.5%;
            width: 5%;
            float: left;
        }
        &__image {
            margin-top: em(48px);
            display: block;
            float: left;
            width: 20%;
            text-align: center;
            img {
                height: 50vh;
                margin: 0 auto;
            }
        }
        &__body {
            float: right;
            width: 50%;
            margin-top: em(48px);
            h2 {
                margin-top: 0;
            }
        }
    }

    @supports (display: grid) {

        .hp-news {
            @include grid-layout(em(50px) auto em(50px));
            &__logo {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                width: auto;
            }
            &__image {
                grid-column: 4 / 7;
                grid-row: 2 / 3;
                width: auto;
                margin-top: 0;
            }
            &__body {
                grid-column: 8 / 12;
                grid-row: 2 / 3;
                width: auto;
                margin-top: 0;
            }
        }
    }
}