/* Burger menu */

.burger-menu {
    background-color: #000;
    opacity: 0.9;
    position: fixed;
    z-index: 3000;
    padding: 1em 0 0 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    max-width: none;
    a {
        color: #fff;
        opacity: 0.5;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 6vh;
        line-height: 6.5vh;
    }
    ul {
    margin: 15vh 0 0 5vw;
    padding: 0;
    }
    &__logo {
        position: absolute;
        width: 10vw;
        min-width: em(120px);
        top: 2vh;
        left: 4vw;
        z-index: 200;
    }
    &__close-button {
        position: absolute;
        top: 10px;
        right: 30px;
        height: 57px;
        width: 82px;
        z-index: 5000;
        width: auto;
    }
}

.nav-active a {
    color: $pollen-orange;
}

.burger-menu__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5000;
    img {
        height: 64px;
        width: 92px;
    }
}

.burger-menu__open-button {
    padding: 0;
    position: fixed;
    top: em(10px);
    right: em(10px);
    width: em(92px);
    height: em(64px);
    background: none;
    border: none;
    z-index: 1200;
}

.scroll-down-button-orange {
    display: none;
    width: 20%;
    max-width: 158px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 500;
}

.d-nav {
    display: none;
}


@media screen and (min-width: 771px) {

    .d-nav {
        top: em(15px);
        right: em(10px);
        position: relative;
        z-index: 100;
        margin: 0;
        display: block;
        &__list {
            float: right;
        }
        &__item {
            padding-right: 1.5vw;
            float: left;
            a {
                text-transform: uppercase;
                color: $pollen-dark-grey;
                font-weight: $font-weight--bold;
                font-size: em(12px);
            }
            &--active a {
                font-weight: $font-weight--bold;
                color: $pollen-orange;
            }
        }
    }

    @supports (display: flex) {
        .d-nav {
            &__list {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .burger-menu__open-button {
        display: none;
    }
}

// /* Side Navigation */

.section-nav {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 40px;
}

.section-nav:before {
    content: " ";
    display: block;
    height: 100%;
}

.section-nav:after {
    content: " ";
    display: block;
    height: 100%;
    margin-bottom: 100px;
}

.section-nav__list {
    display: none;
    list-style: none;
    margin: 20px 0 16px -2px;
    padding: 0;
}

.section-nav__item {
    margin-bottom: 10px;
}

.section-nav__item a:hover:before {
    background-color: $pollen-xx-light-grey;
}

.section-nav__item span {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px;
    width: 1px; 
    margin: -1px;
    padding: 0;
    border: 0;
}

.section-nav__item a:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: $pollen-light-grey;
    pointer-events: none;
}

.section-nav__item--active a:before {
    background-color: $pollen-orange;
}

.section-nav__next {
    display: none;
}


@media screen and (min-width: 771px) {

    .section-nav__next {
        display: block;
        position: absolute;
        bottom: em(20px);
        width: em(80px);
        height: em(80px);
        left: em(-40px);
    }

    .section-nav {
        width: 80px;
    }

    .section-nav__list {
        display: block;
    }

    .section-nav:before {
        border-left: 1px solid $pollen-x-light-grey;
        height: 100%;
    }

    .section-nav:after {
        border-left: 1px solid $pollen-x-light-grey;
    }
}

